server:
  port: 8081

spring:
  application:
    name: trainer-workload-service
  datasource:
    url: jdbc:h2:mem:workload-db
    driverClassName: org.h2.Driver

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

security:
  jwt:
    secret: 6cphIzZx0mXxVauGgSNM2WvPmy_2EDu7Bl70ZHJppH4
    lifetime: 30m

  cors:
    allowed-origins: http://localhost:8080